<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>获奖排行</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" href="css/style.css">
</head>
<body ng-controller="ranking_ctrl">
	<div class="box">
		<!-- 导航 -->
		<span class="myBack" ng-click="back()"></span>
		<div class="nav-box">获奖排行</div>
		<!-- 导航 结束 -->
		<!-- 内容 -->
		<div class="content-box">
			<!-- 获奖排行 -->
			<div class="site-flip">
				<button disabled class="button-left" ng-show="aRankDatas.length"><span class="icon-chevron-left"  ng-click="preview()"></span></button>
				<span  ng-bind="roundName"></span>
				<span  ng-hide="roundName">暂无数据</span>
				<button class="button-right" ng-show="aRankDatas.length"><span class="icon-chevron-right"  ng-click="next()"></span></button>
			</div>
			<ul class="reward-list">
				<li ng-repeat="rankData in aRankDatas track by $index ">
					<div class="line"><div class="line-left" ng-bind="rankData.nickname"></div><div class="line-right"><span ng-bind="rankData.answercount"></span>道</div></div>
					<div class="line"><div class="line-left" ng-bind="rankData.phoneno"></div><div class="line-right"><span ng-bind="rankData.coin"></span>元</div></div>
				</li>
			</ul>
			<!-- 获奖排行 结束 -->
		</div>
		<!-- 内容 结束 -->
		<!-- 底部 -->
		<div class="footer-box">
			<div class="footer-nav-box">
			</div>
		</div>
		<!-- 底部 结束 -->
	</div>
	<script type="text/javascript" src="js/fastclick.js" ></script>
	<script type="text/javascript" src="js/angular.js" ></script>
	<script type="text/javascript" src="js/jquery-3.2.1.min.js" ></script>
	<script type="text/javascript" src="js/utils.js" ></script>
	<script type="text/javascript" src="js/mui.min.js" ></script>
	<script type="text/javascript" src="ranking_controller.js" ></script>
	
</body>
</html>